@media (min-width: 768px) {
    .Overlay {
        margin-left: 25%;
    }

}

.Modal {
    padding: 1rem;
    position: absolute;
    top: 60px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: white;
    border: 1px solid #b4b4b4;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}